
@{
    ViewBag.Title = "Çıkış";
}
<div class="text-center">
    <br />
    <h2>Çıkışınız gerçekleşmiştir.</h2>
    <hr />
    <h3>Bizi tercih ettiğiniz için teşekkür ederiz.</h3>
    <hr />
    <h4>
        Tekrar giriş yapmak için
        @Html.ActionLink("tıklayınız.", "Giris", "Home")
    </h4>
</div>

