@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <br />
    <h1>Mağazamıza Hoş Geldiniz</h1>
    <br />
    <hr />
    <h3>Mağazamızdan temin edeceğiniz kart ile temassız ödeme yapabilirsiniz.</h3>
    <br />
    <hr />
    <font size="4">
        Mağazamızdaki ürünleri incelemek için
        @Html.ActionLink("tıklayınız.", "Urunler", "Home")
    </font>
    <br />
</div>