
@{
    ViewBag.Title = "Profilim";
}
<div class="text-center">
    <br />
    <h2>Profilinize Hoş Geldiniz.</h2>
    <br />
    <hr />
    <h3>
        Mağazamızdaki ürünlerimizi incelemek için
        @Html.ActionLink("tıklayınız.", "Urunler", "Home")
    </h3>
    <br />
    <hr />
    <h4>Şifrenizi buradan değiştiriniz.</h4>
</div>
